<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>About SpamGuard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

    <div class="logo">
        🛡️ SpamGuard
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
    </div>

</nav>


<div class="container">

    <div class="card">

        <h1>ℹ️ About SpamGuard</h1>

        <p>
            SpamGuard is a Machine Learning based web application
            designed to identify whether a text message is
            Spam or Not Spam.
        </p>

        <h2>🤖 Machine Learning</h2>

        <p>
            The system uses TF-IDF for text feature extraction
            and Multinomial Naive Bayes for classification.
        </p>

        <h2>⚙️ How It Works</h2>

        <p>
            User Message → Text Processing → ML Model →
            Spam / Not Spam → Confidence
        </p>

        <h2>🎓 Project</h2>

        <p>
            MSc Computer Science Project
        </p>

    </div>

</div>

</body>
</html>